<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>이용약관</h1>
    </div>
    <div id="content">
        <div class="tab2">
            <span class="on"><a href="#tab" onclick="tab(0);return false;" onkeypress="this.onclick;">네일샵 빈자리 이용약관</a></span>
            <span><a href="#tab" onclick="tab(1);return false;" onkeypress="this.onclick;">위치기반서비스 이용약관</a></span>
        </div>
        <div class="inner_pd tab00 mTs">
            <h2>네일샵 빈자리 서비스 이용약관</h2>
            <div class="slt_area">
                [현행] 2016년 02월 01일 시행안 <span class="sprite">리스트 펼치기</span>
                <ul style="display: none">
                    <li>리스트1</li>
                    <li>리스트2</li>
                    <li>리스트3</li>
                </ul>
            </div>
            <!-- <select name="" id="">
			<option value="option1">[현행] 2016년 02월 01일 시행안</option>
			<option value="option2"></option>
		</select> -->
            <section class="text_area">
                <h3>제 1조 (목적)</h3>
                <p>이 약관은 네일샵 빈자리(이하 "회사"라 합니다)가 ...블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
                <h3>제 2조 (용어의 정의)</h3>
                <p>이 약관은 네일샵 빈자리(이하 "회사"라 합니다)가 ...블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
            </section>
        </div>
        <!-- // end of tab00 -->
        <div class="inner_pd tab01 mTs" style="display: none">
            <h2>위치기반서비스 이용약관</h2>
            <p>내용 블라블라블라</p>
        </div>
        <!-- // end of tab01 -->
    </div>
    <!-- //content -->
    <script type="text/javascript">
        function tab(num) {
            var f = $('.tab2').find('span');
            for (var i = 0; i < f.length; i++) {
                if (i == num) {
                    f.eq(i).addClass('on');
                    $('.tab0' + i).show();
                } else {
                    f.eq(i).removeClass('on');
                    $('.tab0' + i).hide();
                }
            }
        }
    </script>
</ion-view>