<ion-view>
    <!-- //layer popup -->
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>회원가입</h1>
    </div>
    <div style="position: relative; height: 100%;">
        <ion-content>
            <div id="content" class="inner_pd">
                <form>
                    <fieldset class="schId_form">
                        <legend class="visuallyhidden">회원가입</legend>
                        <div class="input_wrap is_m">
                            <span class="input_box">
                                <label for="memberAccountId" class=" input_lb">아이디</label>
                                <input type="text" ng-model="joinData.memberAccountId" placeholder="아이디" class="input_comm"/>
                            </span>
                        </div>
                        <button type="button" class="btn btn_m btn_grey" ng-click="checkDulicateId();">중복확인</button>
                        <div class="input_wrap">
                            <span class="input_box">
                                <label for="memberAccountPw" class=" input_lb">비밀번호 입력</label>
                                <input type="password" ng-model="joinData.memberAccountPw" placeholder="비밀번호는 소문자, 숫자 포함 6자리 이상" class="input_comm">
                            </span>
                        </div>
                        <div class="input_wrap">
                            <span class="input_box">
                                <label for="memberAccountPwConfirm" class=" input_lb">비밀번호 확인</label>
                                <input type="password" ng-model="joinData.memberAccountPwConfirm" placeholder="비밀번호는 소문자, 숫자 포함 6자리 이상" class="input_comm">
                            </span>
                        </div>
                        <div class="input_wrap">
                            <span class="input_box">
                                <label for="email" class=" input_lb">이메일</label>
                                <input type="text" ng-model="joinData.email" placeholder="이메일" class="input_comm">
                            </span>
                        </div>
                        <div class="input_wrap">
                            <span class="input_box">
                                <label for="nickName" class=" input_lb">닉네임</label>
                                <input type="text" ng-model="joinData.nickName" placeholder="닉네임" class="input_comm">
                            </span>
                        </div>
                        <div class="input_wrap is_m">
                            <span class="input_box">
                                <label for="phoneNumber" class=" input_lb">휴대폰번호</label>
                                <input type="number" ng-model="joinData.phoneNumber" placeholder="휴대폰 번호(-없이 입력해 주세요)" class="input_comm" readonly style="background-color: #ffffff;" ng-click="showConfirmPhoneNumber();">
                            </span>
                        </div>
                        <button type="button" class="btn btn_m btn_grey" ng-click="showConfirmPhoneNumber();" id="btnSendPhoneNumberAuth">본인인증</button>
                        <!--<div class="input_wrap is_m">
                            <span class="input_box">
                                <label for="phoneNumberAuth" class="input_lb">인증번호</label>
                                <input type="number" name="phoneNumberAuth" id="phoneNumberAuth" ng-model="phoneNumberAuth" placeholder="인증 번호를 입력하세요" class="input_comm">
                            </span>
                        </div>
                        <button type="button" class="btn btn_m btn_grey" ng-click="checkPhoneNumberAuth();">확인</button>-->
                    </fieldset>
                    <fieldset class="agree_area">
                        <h2>약관동의</h2>
                        <ul class="agreement">
                            <li><a href="#/agreement">이용약관 동의</a><span class="btn btn_sm btn_grey" ng-click="agreePolicy(0);"><i class="sprite ico_check" style="vertical-align: middle; margin-right: 3px;"></i>동의</span></li>
                            <li><a href="#/agreement">개인정보 수집이용 동의</a><span class="btn btn_sm btn_grey" ng-click="agreePolicy(1);"><i class="sprite ico_check" style="vertical-align: middle; margin-right: 3px;"></i>동의</span></li>
                            <li><a href="#/agreement">전자금융거래 이용약관 동의</a><span class="btn btn_sm btn_grey" ng-click="agreePolicy(2);"><i class="sprite ico_check" style="vertical-align: middle; margin-right: 3px;"></i>동의</span></li>
                        </ul>
                    </fieldset>
                    <div style="width: 100%; padding: 0 15px;">
                        <button type="button" class="btn btn_salmon btn_xlg" ng-click="joinMember();">확인</button>
                    </div>
                </form>
            </div>
            <!-- //content -->
        </ion-content>
    </div>

    <!-- layer popup 본인인증 -->
    <div class="layer_wrap" id="layer_phone_confirm" style="display: none;">
        <div class="pop_nopd hgt_xlg">
            <!-- hgt_xlg 팝업창 높이(.hgt_md, .hgt_lg, .hgt_xlg, ..)  -->
            <div class="pop_t">
                본인인증<span class="sprite btn_close" ng-click="hideConfirmPhoneNumber();">닫기</span>
            </div>
            <!--<div id="wrap" style="display:none;width:100%;height:300px;margin:5px 0;position:relative"></div>-->
            <iframe id="confirmPhoneNumberFrame" style="width: 100%; height: 91%;"></iframe>
        </div>
    </div>
</ion-view>