<ion-nav-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>로그인</h1>
    </div>
    <div style="position: relative; height: 100%;">
        <ion-content>
            <div id="content">
                <div class="login_visual">네일샵 빈자리</div>
                <form class="inner_pd" ng-controller="LoginController">
                    <fieldset>
                        <legend class="visuallyhidden">로그인</legend>
                        <div class="gr_left">
                            <div class="input_wrap">
                                <span class="input_box">
                                    <label for="id" class=" input_lb">아이디</label>
                                    <input type="text" name="memberAccountId" id="memberAccountId" ng-model="memberAccountId" placeholder="아이디" class="input_comm">
                                </span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_box">
                                    <label for="id" class=" input_lb">비밀번호</label>
                                    <input type="password" name="memberAccountPw" id="memberAccountPw" ng-model="memberAccountPw" placeholder="비밀번호" class="input_comm">
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn_lg btn_grey btn_login" ng-click="login();">로그인</button>
                        <div class="check_wrap">
                            <input type="checkbox" id="login_chk" />
                            <label for="login_chk" id="login_chk_lb">자동 로그인</label>
                        </div>
                    </fieldset>
                </form>
                <div class="lg_cmt inner_pd">
                    <span>아이디를 잊으셨나요?</span>
                    <span>
                        <a href="#/search_id">아이디찾기</a>
                        <a href="#/search_pw">비밀번호 찾기</a>
                    </span>
                </div>
                <div style="width: 100%; padding: 0 15px;"><a href="#/member_join" style="color: #fff;" class="btn btn_grey btn_xlg">회원가입 하기</a></div>
            </div>
        </ion-content>
    </div>
</ion-nav-view>