<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>비밀번호 찾기</h1>
    </div>
    <div id="content" class="inner_pd">
        <form id="" name="" action="" method="" onsubmit="">
            <fieldset class="schId_form">
                <legend class="visuallyhidden">아이디 찾기</legend>
                <div class="input_wrap">
                    <span class="input_box">
					<label for="id" class=" input_lb">아이디</label>
					<input type="text" name="memberAccountId" id="memberAccountId" ng-model="data.memberAccountId" placeholder="아이디" class="input_comm">
				</span>
                </div>
                <div class="input_wrap is_m">
                    <span class="input_box">
					<label for="id" class=" input_lb">휴대폰번호</label>
					<input type="text" name="phoneNumber" id="phoneNumber" ng-model="data.phoneNumber"placeholder="휴대폰 번호(-없이 입력해 주세요)" class="input_comm" readonly style="background-color: #ffffff;" ng-click="showConfirmPhoneNumber();">
				</span>
                </div>
                <button type="button" id="btnSendPhoneNumberAuth" class="btn btn_m btn_grey" ng-click="showConfirmPhoneNumber();">본인인증</button>
                <!--<div class="input_wrap">
                    <span class="input_box">
                        <label for="id" class=" input_lb">인증번호</label>
                        <input type="number" name="phoneNumberAuth" id="phoneNumberAuth" ng-model="phoneNumberAuth" placeholder="인증 번호를 입력하세요" class="input_comm">
                    </span>
                </div>-->
            </fieldset>
            <div class="btn_area">
                <button type="button" ng-click="searchPassword();" class="btn btn_salmon btn_xlg">확인</button>
            </div>
        </form>
    </div>

    <!-- layer popup 본인인증 -->
    <div class="layer_wrap" id="layer_phone_confirm_search_pw" style="display: none;">
        <div class="pop_nopd hgt_xlg">
            <!-- hgt_xlg 팝업창 높이(.hgt_md, .hgt_lg, .hgt_xlg, ..)  -->
            <div class="pop_t">
                본인인증<span class="sprite btn_close" ng-click="hideConfirmPhoneNumber();">닫기</span>
            </div>
            <!--<div id="wrap" style="display:none;width:100%;height:300px;margin:5px 0;position:relative"></div>-->
            <iframe id="confirmPhoneNumberSearchPwFrame" style="width: 100%; height: 91%;"></iframe>
        </div>
    </div>
</ion-view>