<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>비밀번호 변경</h1>
    </div>
    <div id="content" class="inner_pd">
        <fieldset class="schId_form">
            <legend class="visuallyhidden">비밀번호 변경</legend>
            <div class="input_wrap">
                <span class="input_box">
					<label for="memberAccountPwd" class=" input_lb">비밀번호 입력</label>
					<input type="password" name="memberAccountPwd" id="memberAccountPwd" ng-model="memberAccountPwd" placeholder="비밀번호를 입력해 주세요" class="input_comm">
				</span>
            </div>
            <div class="input_wrap">
                <span class="input_box">
					<label for="memberAccountPwdConfirm" class=" input_lb">비밀번호 재입력</label>
					<input type="password" name="memberAccountPwdConfirm" id="memberAccountPwdConfirm" ng-model="memberAccountPwdConfirm" placeholder="다시 한번 비밀번호를 입력해 주세요" class="input_comm">
				</span>
            </div>
        </fieldset>
        <div class="btn_area">
            <button type="submit" ng-click="savePassword();" class="btn btn_salmon btn_xlg">확인</button>
        </div>
    </div>
</ion-view>