<ion-nav-view>
    <div class="main_wrap">
        <header id="header">
            <h1>Binjari</h1>
        </header>
        <div class="main_bg">
            <ul>
                <li><a ng-click="goToShopFavoritePage();" class="bnr_regular">단골 네일샵 예약하기 BOOK A REGULAR NAIL SHOP</a></li>
                <li><a ng-click="goToNearByShopPage();" class="bnr_nearby">주변 네일샵 예약하기 BOOK A NEARBY NAIL SHOP</a></li>
                <li><a ng-click="goToRecommendShopPage();" class="bnr_recom">추천 네일샵 RECOMMENDED NAIL SHOP</a></li>
                <li><a ng-click="goToMyNailPage();" class="bnr_mynail">나의 네일현황 MY NAIL STATUS</a></li>
            </ul>
        </div>
    </div>
</ion-nav-view>