<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>이용 현황</h1>
    </div>
    <h2 class="shop_t center">{{orderDetail.SHOP_NM}}</h2>
    <div id="content" class="inner_pd">
        <h3 class="visuallyhidden">예약 정보</h3>
        <dl class="booking_info dl_border">
            <dt>이용 날짜:</dt>
            <dd>{{orderDetail.bookingMonthDate}}</dd>
            <dt>이용 시간:</dt>
            <dd>{{orderDetail.startTimeStr}} ~ {{orderDetail.endTimeStr}}</dd>
            <dt>구매 상품:</dt>
            <dd>{{orderDetail.PDT_NM}}</dd>
        </dl>
        <!--<span class="ft_pink dl_border">선결제/1,000원 할인쿠폰 사용</span>-->
        <dl class="booking_info dl_border">
            <dt>전화번호:</dt>
            <dd>{{orderDetail.SHOP_TEL}}</dd>
            <dt>주소:</dt>
            <dd>{{orderDetail.SHOP_ADDR}}</dd>
        </dl>
        <span class="ft_pink fs_sm">* 예약 1시간 전에 푸시 메세지를 발송해 드립니다.</span>
        <div class="center">
            <span class="sprite add_fvr" ng-click="addFavoriteShop();">단골샵 등록</span>
            <span class="sprite write_review" ng-click="goToReview();">후기 남기기</span>
        </div>
        <!-- 기획서에 있는 취소하기 버튼은 디자인이 없나요? -->
        <div class="ft_fix_area">
            <button class="btn btn_salmon btn_xlg" ng-click="goToReservation();">예약하기</button>
        </div>
    </div>
</ion-view>