<ion-nav-view>
    <ion-header>
        <ion-navbar>
            <ion-title>
                <header id="header">
                    <span class="ham"><a ng-click="openNav();" class="sprite btn_ham">확장영역 열기</a></span>
                    <h1>Binjari</h1>
                    <span class="map"><a ng-click="goToLocationShopListPage();" class="sprite btn_map">지도</a></span>
                </header>
            </ion-title>
        </ion-navbar>
    </ion-header>
    <div class="tab2" id="myBookingListTab" style="margin-bottom: 2px;">
        <span ng-click="changeBookingTab(0);" class="on">예약현황</span>
        <span ng-click="changeBookingTab(1);">이용현황</span>
    </div>
    <div style="position: relative; height: 100%;" class="myBookingListTab00_wrapper">
        <ion-content ion-sticky style="bottom: 160px;">
            <ion-list>
                <!-- 예약현황 -->
                <ul class="myBookingListTab00 mTs shop_list">
                    <li ng-repeat="(key, myBookingInfo) in bookingList" ng-if="bookingList.length > 0" ng-click="goToBookingDetail({{myBookingInfo.ORDER_ID}});">
                        <a class="cont_thmb">
                            <span class="mask"></span>
                            <img src="{{myBookingInfo.SHOP_IMG1}}" alt="{{myBookingInfo.SHOP_NM}}" />
                        </a>
                        <div class="cont_info">
                            <span class="date">{{myBookingInfo.ORDER_DT | bookingDate:myBookingInfo.ELAPSE_TM}}</span>
                            <span class="shop_name">{{myBookingInfo.SHOP_NM}}</span>
                            <span class="shop_loca">{{myBookingInfo.SHOP_LOC_CD_TXT}}</span>
                        </div>
                        <span class="btn_book" ng-class="myBookingInfo.ORDER_TP_CD == '003' ? 'on' : ''">{{myBookingInfo.ORDER_TP_CD_TXT}}</span>
                    </li>
                </ul>
                <!-- //예약현황 -->
            </ion-list>
        </ion-content>
    </div>
    <!-- //content -->

    <div class="myBookingListTab01_wrapper" style="height: 100%;">
        <div class="inner_pd" style="height: auto;">
            <ionic-datepicker date="currentDate" callback="datePickerCallback">
                <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
            </ionic-datepicker>
        </div>

        <div style="position: relative; height: 100%;">
            <ion-content ion-sticky style="bottom: 260px;">
                <ion-list>
                    <!-- 이용현황 -->
                    <div class="myBookingListTab01 mTs" style="display: none">
                        <ul class="shop_list bdr_top">
                            <li ng-repeat="(key, myHistoryInfo) in historyList" ng-if="historyList.length > 0" ng-click="goToHistoryDetail({{myHistoryInfo.ORDER_ID}});">
                                <a class="cont_thmb">
                                    <span class="mask"></span>
                                    <img src="{{myHistoryInfo.SHOP_IMG1}}" alt="{{myHistoryInfo.SHOP_NM}}" />
                                </a>
                                <div class="cont_info_wd">
                                    <span class="date">{{myHistoryInfo.ORDER_DT | bookingDate:myHistoryInfo.ELAPSE_TM}}</span>
                                    <span class="shop_name">{{myHistoryInfo.SHOP_NM}}</span>
                                    <span class="shop_loca">{{myHistoryInfo.SHOP_LOC_CD_TXT}}</span>
                                </div>
                            </li>
                        </ul>
                        <!-- //예약현황 -->
                    </div>
                </ion-list>
            </ion-content>
            <!-- //이용현황 -->
        </div>
    </div>

    <div class="ft_menu">
        <ul>
            <li><a ng-click="goToHome();" class="fm_home">홈</a></li>
            <li><a ng-click="goToNearByShopPage();" class="fm_around">내주변</a></li>
            <li><a ng-click="goToFavoriteShopPage();" class="fm_favorite">네일찜</a></li>
            <li><a ng-click="goToMyNailPage();" class="fm_mynail on">마이네일</a></li>
        </ul>
    </div>
</ion-nav-view>