<ion-nav-view>
    <ion-header>
        <ion-navbar>
            <ion-title>
                <header id="header">
                    <span class="ham"><a ng-click="openNav();" class="sprite btn_ham">확장영역 열기</a></span>
                    <h1>Binjari</h1>
                    <span class="map"><a ng-click="goToLocationShopListPage();" class="sprite btn_map">지도</a></span>
                </header>
            </ion-title>
        </ion-navbar>
    </ion-header>
    <div class="tab2" id="favoriteShopTab" style="margin-bottom: 2px;">
        <span ng-click="changeFavoriteShopTab(0);" class="on">네일 샵</span>
        <span ng-click="changeFavoriteShopTab(1);">쿠폰리스트</span>
    </div>
    <!-- //tab -->
    <div style="position: relative; height: 100%;">
        <ion-content ion-sticky style="bottom: 160px;">
            <ion-list>
                <!-- 네일 샵 -->
                <ul class="favoriteShopTab00 mTs shop_list">
                    <li ng-repeat="(key, favoriteShopInfo) in favoriteShopList" ng-if="favoriteShopList.length > 0">
                        <a class="cont_thmb" ng-click="goToShopDetailPage({{favoriteShopInfo.SHOP_ID}});">
                            <span class="mask"></span>
                            <img src="{{favoriteShopInfo.SHOP_IMG1}}" alt="{{favoriteShopInfo.SHOP_NM}}" />
                        </a>
                        <div class="cont_info" ng-click="goToShopDetailPage({{favoriteShopInfo.SHOP_ID}});">
                            <span class="shop_name">{{favoriteShopInfo.SHOP_NM}}</span>
                            <span class="shop_loca">{{favoriteShopInfo.SHOP_LOC_CD_TXT}}</span>
                            <span class="price">35,000원~</span>
                        </div>
                        <span class="btn_book" ng-click="goToReservation({{favoriteShopInfo.SHOP_ID}});">예약하기</span>
                    </li>
                </ul>
                <!-- //네일 샵 -->

                <!-- 쿠폰리스트 -->
                <ul class="favoriteShopTab01 mTs  shop_list" style="display: none">
                    <li ng-repeat="(key, couponInfo) in couponList" ng-if="couponList.length > 0">
                        <div ng-class="couponInfo.COUP_TP_CD != '001' ? 'cp_disc' : 'cp_free'">
                            <span class="coupon_thmb" ng-show="couponInfo.COUP_TP_CD != '001'">할인<br/>쿠폰</span>
                            <span class="coupon_thmb" ng-show="couponInfo.COUP_TP_CD == '001'">무료<br/>쿠폰</span>
                            <div class="cont_info_wd" style="width: 82%;">
                                <span class="cp_title">{{couponInfo.COUP_NM}}<i class="ico_new"></i></span>
                                <span class="cp_cmt">2017.01.01 ~ 2017.02.27</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- //쿠폰리스트 -->
            </ion-list>
        </ion-content>
    </div>

    <div class="ft_menu">
        <ul>
            <li><a ng-click="goToHome();" class="fm_home">홈</a></li>
            <li><a ng-click="goToNearByShopPage();" class="fm_around">내주변</a></li>
            <li><a ng-click="goToFavoriteShopPage();" class="fm_favorite on">네일찜</a></li>
            <li><a ng-click="goToMyNailPage();" class="fm_mynail">마이네일</a></li>
        </ul>
    </div>
</ion-nav-view>