<ion-nav-view>
    <div class="top_fix_zone top_bar_fix" id="eventTopBar" style="display: none;">
        <div class="sub_title" style="display: block;">
            <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
            <h1>{{eventDetail.EVT_NM}}</h1>
        </div>
    </div>
    <ion-content style="bottom: 60px;" class="eventListScrollView">
        <div>
            <div class="top_bn_zone">
                <a ng-click="$ionicGoBack()" class="sprite ico_back2 tb_posi_l">이전페이지로 가기</a>
                <!-- Swiper -->
                <div class="swiper-container" id="event_list_event_banner">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <!-- //Swiper -->
            </div>
            <!-- // 스크롤 시 hide -->
            <div class="top_con_zone" id="fixNextTagEvent">
                <ul class="shop_list">
                    <li ng-repeat="(key, shopInfo) in shopList" ng-if="shopList.length > 0" ng-click="goToShopDetailPage({{shopInfo.SHOP_ID}});">
                        <a class="cont_thmb">
                            <span class="mask"></span>
                            <img src="{{shopInfo.SHOP_IMG1}}" alt="{{shopInfo.SHOP_NM}}" />
                        </a>
                        <div class="event_info">
                            <span class="shop_name">{{shopInfo.SHOP_NM}}</span>
                            <span class="cmt_color">{{shopInfo.EVT_NM}}</span>
                            <span class="cmt_grey">{{shopInfo.EVT_DESC}}</span>
                        </div>
                        <div class="event">{{shopInfo.EVENT_COUNT}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
    <div class="ft_menu">
        <ul>
            <li><a ng-click="goToHome();" class="fm_home">홈</a></li>
            <li><a ng-click="goToNearByShopPage();" class="fm_around on">내주변</a></li>
            <li><a ng-click="goToFavoriteShopPage();" class="fm_favorite">네일찜</a></li>
            <li><a ng-click="goToMyNailPage();" class="fm_mynail">마이네일</a></li>
        </ul>
    </div>
</ion-nav-view>