<ion-nav-view>
    <div class="sub_title">
        <h1 class="current_location">강남역/신논현/역삼</h1>
        <span class="sprite btn_x" ng-click="$ionicGoBack()">닫기</span>
    </div>
    <div id="content">
        <div id="map2" class="map_area">
            <span class="sprite btn_loca" ng-click="moveCurrentLocation();">현재 위치 확인</span>
        </div>
        <div class="ft_fix_area3" style="height: 220px;">
            <img class="btnListClose" src="images/ic_list_close.png" ng-click="toggleShopList();" />
            <ion-content>
                <ul class="map_list">
                    <li ng-repeat="(key, shopInfo) in shop_list" ng-if="shop_list.length > 0" ng-click="goToShopDetailPage({{shopInfo.SHOP_ID}});">
                        <span>{{shopInfo.SHOP_NM}}</span>
                        <span>{{shopInfo.SHOP_LOC_CD_TXT}}<em>{{shopInfo.DISTANCE | limitTo:4}}km 이내</em></span>
                    </li>
                </ul>
            </ion-content>
        </div>
    </div>
</ion-nav-view>