<ion-nav-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>위치 지정</h1>
    </div>
    <div id="content">
        <div id="map" class="map_area">
            <span class="sprite btn_loca">현재 위치 확인</span>
        </div>
        <div class="ft_fix_area2">
            <button type="button" id="btnSetPosition" value="" class="btn btn_xlg btn_salmon ">위치지정완료</button>
        </div>
    </div>

    <script type="text/javascript">
        var mapResize = function() {
            var docH = $(document).height();

            $('.map_area').css({
                height: docH - ($('.sub_title').height())
            });
        }
    </script>
</ion-nav-view>