<ion-nav-view>
    <div class="sub_title" style="margin-bottom: 2px;">
        <a class="sprite ico_back" ng-click="$ionicGoBack()">이전페이지로 가기</a>
        <h1>지역선택</h1>
    </div>
    <div id="content" style="padding-bottom: 0px;">
        <div id="location_list_tab" class="tab noline">
            <span data-tabindex='0'>서울지역</span>
            <span data-tabindex='1'>경기지역</span>
            <span data-tabindex='2'>인천지역</span>
        </div>
    </div>
    <div style="position: relative; height: 100%;">
        <ion-content style="bottom: 104px;">
            <div class="tab00 mTs inner_pd" style="padding: 0px 4%;"></div>
            <div class="tab01 mTs inner_pd" style="padding: 0px 4%;"></div>
            <div class="tab02 mTs inner_pd" style="padding: 0px 4%;"></div>
        </ion-content>
    </div>
</ion-nav-view>