<ion-view>
    <div id="content-wrapper">
        <div id="content">
            <div class="shop_info_top size_sm">
                <a ng-click="$ionicGoBack()" class="sprite ico_back2 tb_posi_l">이전페이지로 가기</a>
                <div class="title_area_p">
                    <h1 style="color:#fff;">{{shopDetail.SHOP_NM}}</h1>
                    <h2 style="color:#fff;margin-top: 0px;">포트폴리오</h2>
                </div>
                <div class="shopimg_area size_sm">
                    <div id="shop_portfolio_shopimage" class="swiper-container">
                        <div class="swiper-wrapper" style="height: 190px;"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <!-- //shop_info_top -->
            <ul class="potf_list">
                <li ng-repeat="(key, shopPortfolioInfo) in shopPortfolioList" ng-if="shopPortfolioList.length > 0">
                    <img src="{{shopPortfolioInfo.PORT_IMG1}}" alt="포트폴리오" ng-click="showPortfolioDetail({{shopPortfolioInfo.PORT_ID}});" />
                </li>
            </ul>
        </div>
    </div>
</ion-view>