<ion-view>
    <div id="content">
        <div class="shop_info_top size_lg">
            <a ng-click="$ionicGoBack()" class="sprite ico_back2 tb_posi_l">이전페이지로 가기</a>
            <a ng-click="addFavoriteShop();" class="sprite ico_fvr tb_posi_r">찜하기</a>
            <div class="shopimg_area size_lg"><img src="{{portfolioDetail.PORT_IMG1}}" alt="{{portfolioDetail.PORT_NM}}"></div>
        </div>
        <!-- //shop_info_top -->
        <div class="port_detail_wrap">
            <div class="port_title" ng-click="goToShopDetailPage();">
                <a class="cont_thmb">
                    <span class="mask"></span>
                    <img src="{{shopDetail.SHOP_IMG1}}" alt="{{shopDetail.SHOP_NM}}" />
                </a>
                <div class="cont_title">
                    <h1>{{portfolioDetail.PORT_NM}}</h1>
                    <span>{{shopDetail.SHOP_NM}}</span>
                </div>
            </div>
            <div class="port_detail_cont">
                <span ng-repeat="(key, portfolioHashTagInfo) in portfolioHashTagList" ng-if="portfolioHashTagList.length > 0" ng-click="showPortfolioByHashTag('{{portfolioHashTagInfo.TAG_NM}}');"> #{{portfolioHashTagInfo.TAG_NM}}</span>
                <p>{{portfolioDetail.PORT_DESC}}</p>
            </div>
        </div>
        <!-- //port_detail_wrap -->
    </div>
</ion-view>