<ion-view>
    <ion-header>
        <ion-navbar>
            <ion-title>
                <div class="sub_title" style="margin-bottom: 2px;">
                    <a class="sprite ico_back" ng-click="$ionicGoBack()">이전페이지로 가기</a>
                    <h1>{{shopDetail.SHOP_NM}}</h1>
                </div>
            </ion-title>
        </ion-navbar>
    </ion-header>
    <div>
        <span class=" sprite btn_top " ng-click="goToScrollTop(); ">제일 위로</span>
    </div>
    <div style="position: relative; height: 100%; ">
        <ion-content style="bottom: 60px;">
            <ion-list>
                <div id="content-wrapper ">
                    <div id="content ">
                        <ul class="potf_list ">
                            <li ng-repeat="(key, portfolioItem) in portfolioList " ng-if="portfolioList.length> 0" ng-click="goToPortfolioDetail({{portfolioItem.PORT_ID}});">
                                <img src="{{portfolioItem.PORT_IMG1}}" alt="{{portfolioItem.PORT_NM}}">
                            </li>
                        </ul>
                    </div>
                </div>
            </ion-list>
        </ion-content>
    </div>
</ion-view>