<ion-view>
    <div class="top_fix_zone top_bar_fix" id="topBar" style="display: none;">
        <div class="sub_title" style="display: block;">
            <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
            <h1>{{shopDetail.SHOP_NM}}</h1>
        </div>
        <div class="tab" id="shop_detail_tab">
            <span ng-click="changeShopDetailTab(0);" class="on ">상품정보</span>
            <span ng-click="changeShopDetailTab(1);">매장정보</span>
            <span ng-click="changeShopDetailTab(2);">방문후기</span>
        </div>
    </div>
    <!-- //top_fix_zone 상단고정 영역 -->
    <!-- //top_fix_zone 상단고정 영역 -->
    <ion-content class="shopDetailScrollView">
        <div id="content">
            <div class="top_bn_zone">
                <div class="shop_info_top size_sm">
                    <a ng-click="$ionicGoBack()" class="sprite ico_back2 tb_posi_l">이전페이지로 가기</a>
                    <a ng-click="addFavoriteShop();" class="sprite ico_fvr tb_posi_r">찜하기</a>
                    <div class="shopimg_area size_sm">
                        <div id="shop_edit_detail_shopimage" class="swiper-container" style="height: 190px;">
                            <div class="swiper-wrapper" style="height: 190px;"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="title_area">
                    <h1 class="shop_name">{{shopDetail.SHOP_NM}}</h1>
                    <span>{{shopDetail.SHOP_LOC_CD_TXT}}</span>
                    <div class="shop_grade">
                        <em>{{shopDetail.PDT_AVG}}</em>
                        <span><i class="sprite ico_star star{{Math.floor(shopDetail.PDT_AVG)}}">star</i></span>
                        <!-- [D] .star1 별 한 개,  .star2 별 두 개, .star3 별 세 개, .star4 별 네 개 -->
                    </div>
                </div>
                <!-- //title_area -->
                <!-- //shop_info_top -->
                <div class="inner_pd cf">
                    <h2>포트폴리오</h2>
                    <a ng-click="goToPortfolioListPage();" class="btn_view_all">전체보기<i class="sprite ico_arr1"></i></a>
                    <ul class="port_thumb">
                        <li ng-repeat="(key, shopPortfolioInfo) in shopPortfolioList" ng-if="shopPortfolioList.length > 0">
                            <a ng-click="goToPortfolioListPage();"><img src="{{shopPortfolioInfo.PORT_IMG1}}" /></a>
                        </li>
                    </ul>
                </div>
                <!-- //포트폴리오 -->
            </div>
            <!-- //top_bn_zone  -->
            <div class="top_fix_zone" id="topBar2">
                <div class="sub_title">
                    <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
                    <h1>{{shopDetail.SHOP_NM}}</h1>
                </div>
                <div class="tab" id="shop_detail_tab2" style="margin-top: 0px;">
                    <span ng-click="changeShopDetailTab(0);" class="on ">상품정보</span>
                    <span ng-click="changeShopDetailTab(1);">매장정보</span>
                    <span ng-click="changeShopDetailTab(2);">방문후기</span>
                </div>
                <!-- //tab -->
            </div>
            <!-- //top_fix_zone 상단고정 영역 -->

            <div class="top_con_zone " id="fixNextTag">
                <div class="swiper-container" style="height: auto;">
                    <div class="swiper-wrapper" style="height: auto;">
                        <div class="swiper-slide">
                            <div class="tab00 mTs inner_pd" style="width: 100%;">
                                <h2>메뉴 및 가격</h2>
                                <ul class="menu_box ">
                                    <li ng-repeat="(key, shopPdtInfo) in shopPdtList" ng-if="shopPdtList.length > 0">
                                        <span class="m_name ">{{shopPdtInfo.PDT_NM}}</span>
                                        <span class="m_price ">{{shopPdtInfo.PDT_PRIC | number}}원</span>
                                    </li>
                                </ul>
                                <!-- //메뉴 및 가격 -->
                                <h2>이벤트</h2>
                                <div class="event_box ">
                                    <ul>
                                        <li ng-repeat="(key, shopEventInfo) in shopEventList" ng-if="shopEventList.length > 0">
                                            <span class="event_t "><em>이벤트 {{key + 1}}</em>{{shopEventInfo.EVT_NM}}</span>
                                            <span class="exp ">{{shopEventInfo.EVT_DESC}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //이벤트 -->
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <!-- //tab1 상품정보 -->
                            <div class="tab01 mTs inner_pd" style="width: 100%;">
                                <dl class="shop_info ">
                                    <dt>주소</dt>
                                    <dd>{{shopDetail.SHOP_ADDR}}</dd>
                                    <dt>전화번호</dt>
                                    <dd>{{shopDetail.SHOP_TEL}}</dd>
                                    <dt>영업시간</dt>
                                    <dd>
                                        <ul>
                                            <li ng-repeat="(key, opTimes) in shopOpTime" ng-if="shopOpTime.length > 0">{{opTimes}}</li>
                                        </ul>
                                    </dd>
                                    <dt>쿠폰</dt>
                                    <dd>
                                        <ul>
                                            <li ng-repeat="(key, shopCouponInfo) in shopCouponList" ng-if="shopCouponList.length > 0" ng-hide="shopCouponInfo.USE_YN == 'N'">{{shopCouponInfo.COUP_NM}}</li>
                                        </ul>
                                    </dd>
                                    <dt>부가정보</dt>
                                    <dd>
                                        <span ng-repeat="item in shopDetail.SHOP_ETC | split">{{item}}</span>
                                    </dd>
                                    <dt>지도보기</dt>
                                    <dd>
                                        <div id="shop_detail_map" style="width: 100%; height: 300px;"></div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab02 mTs inner_pd" style="width: 100%;">
                                <p class="review_cmt ">매장 방문후기를 작성해주세요.<br/> 정성껏 작성해 주신 이용후기는 다른 분들에게 큰 도움이 됩니다.^^</p>
                                <button type="button " class="btn btn_xlg btn_lightgrey " ng-click="goToReview();">후기 작성하기</button>
                                <ul class="review_list ">
                                    <li ng-repeat="(key, shopReviewInfo) in shopReviewList" ng-if="shopReviewList.length > 0">
                                        <span class="rvw_t ">{{shopReviewInfo.CMT_TITLE}}</span>
                                        <span class="grade "><i class="sprite ico_star star{{Math.floor(shopReviewInfo.CMT_GRADE)}} ">별 다섯</i><em>평점 {{shopReviewInfo.CMT_GRADE}}</em></span>
                                        <!-- [D] .star1 별 한 개,  .star2 별 두 개, .star3 별 세 개, .star4 별 네 개 -->
                                        <span class="shop_date "><em>{{shopReviewInfo.USER_NM}}</em>{{ shopReviewInfo.REG_DT | limitTo : 4 : 0}}.{{ shopReviewInfo.REG_DT | limitTo : 2 : 4}}.{{ shopReviewInfo.REG_DT | limitTo : 2 : 6}}</span>
                                        <p class="guest_review multi_ellipsis ">{{shopReviewInfo.CMT_DESC}}</p>
                                        <p class="master_reply " style="display: none ">{{shopReviewInfo.RPL_DESC}}</p>
                                        <span class="btn_more " ng-show="shopReviewInfo.RPL_ID != null" ng-click="showMoreReview({{key}});">더보기</span>
                                    </li>
                                </ul>
                                <!-- //review_list -->
                            </div>
                            <!-- //tab3 방문후기 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- //top_con_zone 컨텐츠 영역 -->
        </div>
    </ion-content>
    <div class="ft_fix_area2 ">
        <button type="button " class="btn btn_xlg btn_salmon" ng-click="goToReservation();">예약 하기</button>
    </div>
</ion-view>