<ion-nav-view>
    <ion-header>
        <ion-navbar>
            <ion-title>
                <header id="header">
                    <span class="ham"><a ng-click="openNav();" class="sprite btn_ham">확장영역 열기</a></span>
                    <h1>Binjari</h1>
                    <span class="map"><a ng-click="goToLocationShopListPage();" class="sprite btn_map">지도</a></span>
                </header>
            </ion-title>
        </ion-navbar>
    </ion-header>
    <div style="position: relative; height: 100%;">
        <ion-content ion-sticky style="bottom: 115px;">
            <ion-list>
                <ion-item style="padding: 0px;">
                    <div class="location_info">
                        <span class="current_loca">강남역/신논현/역삼</span>
                        <span class="select_loca" ng-click="selectRegion();"><i class="sprite ico_pin"></i>지역선택</span>
                        <span class="my_loca tab_on" ng-click="searchByCurrentLocation();"><i class="sprite ico_focus"></i>나의위치</span>
                    </div>
                    <!-- Swiper -->
                    <div class="swiper-container" id="shop_list_event_list">
                        <div class="swiper-wrapper"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </ion-item>
                <ion-item class="item-divider" style="padding: 0px; background-color: #fff;">
                    <div class="tab shop_list_tab" id="shop_list_tab">
                        <span ng-click="changeShopListTab('0');">거리순</span>
                        <span ng-click="changeShopListTab('1');">추천순</span>
                        <span ng-click="changeShopListTab('2');">인기순</span>
                    </div>
                </ion-item>
                <ion-item class="shop_list" ng-repeat="shopInfo in shop_list" ng-if="shop_list.length > 0" type="item-text-wrap" ng-click="goToShopDetailPage({{shopInfo.SHOP_ID}});">
                    <div>
                        <a class='cont_thmb'>
                            <span class='mask'></span>
                            <img src='{{shopInfo.SHOP_IMG1}}' alt='{{shopInfo.SHOP_NM}}' />
                        </a>
                        <div class='cont_info'>
                            <span class='shop_name'>{{shopInfo.SHOP_NM}}</span>
                            <span class='shop_loca' style="font-size: 13px;">{{shopInfo.SHOP_LOC_CD_TXT}}</span>
                            <span class='shop_loca' style="font-size: 13px;"><em style="color: #fd6571; vertical-align: middle;" ng-if="shopInfo.DISTANCE != null">{{shopInfo.DISTANCE | number:2}}km</em></span>
                            <span class='grade'><i class='sprite ico_star star{{Math.floor(shopInfo.PDT_AVG)}}'>별 다섯</i><em>평점 {{shopInfo.PDT_AVG}}</em></span>
                        </div>
                        <div class='price'>{{shopInfo.MIN_PDT_PRICE | number}}원~</div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    <div class="ft_menu">
        <ul>
            <li><a ng-click="goToHome();" class="fm_home">홈</a></li>
            <li><a ng-click="goToNearByShopPage();" class="fm_around on">내주변</a></li>
            <li><a ng-click="goToFavoriteShopPage();" class="fm_favorite">네일찜</a></li>
            <li><a ng-click="goToMyNailPage();" class="fm_mynail">마이네일</a></li>
        </ul>
    </div>
</ion-nav-view>