<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>{{shopNm}}</h1>
    </div>
    <div style="position: relative; height: 100%;">
        <ion-content>
            <div id="content">
                <form lass="inner_pd" ng-controller="WriteReviewController" style="padding: 4%;">
                    <fieldset class="comm_pd_bottom">
                        <legend class="visuallyhidden">평가하기</legend>
                        <h2 class="a_center" style="font-weight: bold;">탭해서 평가하기</h2>
                        <ul class="grade_star">
                            <li data-index="1"></li>
                            <li data-index="2"></li>
                            <li data-index="3"></li>
                            <li data-index="4"></li>
                            <li data-index="5"></li>
                        </ul>
                        <div class="input_wrap">
                            <span class="input_box">
                        <label for="title" class=" input_lb">제목</label>
                        <input type="text" name="title" id="title" ng-model="title" placeholder="제목을 입력 해주세요" class="input_comm">
                    </span>
                        </div>
                        <div class="textarea_wrap">
                            <textarea cols=40 rows=8 onclick="if(this.value=='방문한 네일샵의 후기 작성을 부탁드려요'){this.value=''}" class="textarea" id="content" name="content" ng-model="content">방문한 네일샵의 후기 작성을 부탁드려요</textarea>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn_xlg btn_salmon" ng-click="saveReview();">후기 쓰기</button>
                </form>
            </div>
        </ion-content>
    </div>
</ion-view>