<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>예약확인</h1>
    </div>
    <div id="content">
        <!-- 무통장 입금시 추가로 표출 -->
        <!--<div class="inner_pd">
            <div class="account_num">
                빈자리 통장번호
                <em>123-45-678900</em>
            </div>
            <div class="cmt_box">
                <strong>입금이 확인 되면 최종 예약이 확정되며</strong><br/> 알림메세지가 발송됩니다.
            </div>
        </div>-->
        <!-- //무통장 입금시 추가로 표출 -->
        <h2 class="shop_t center">{{orderDetail.SHOP_NM}}</h2>
        <div class="inner_pd">
            <div class="cmt_box_noline2">
                <strong>예약이 완료되었습니다.</strong> 감사합니다.^^
            </div>
            <h3 class="visuallyhidden">예약 정보</h3>
            <dl class="booking_info2">
                <dt>예약날짜:</dt>
                <dd>{{orderDetail.bookingMonthDate}}</dd>
                <dt>예약시간:</dt>
                <dd>{{orderDetail.startTimeStr}} ~ {{orderDetail.endTimeStr}}</dd>
                <dt>예약상품:</dt>
                <dd>{{orderDetail.PDT_NM}}</dd>
                <!--<dt class="visuallyhidden">쿠폰 할인</dt>-->
                <!--<dd class="ft_coupon">선결제 / 1,000원 할인쿠폰 사용</dd>-->
                <dt>전화번호:</dt>
                <dd>{{orderDetail.SHOP_TEL}}</dd>
                <dt>주소:</dt>
                <dd>{{orderDetail.SHOP_ADDR}}</dd>
            </dl>
            <div class="center"><span class="sprite add_fvr" ng-click="addFavoriteShop();">단골샵 등록</span></div>
        </div>
        <div class="ft_fix_area">
            <button type="button" class="btn btn_salmon btn_xlg" ng-click="goToShopList();">확인</button>
        </div>
    </div>
</ion-view>