<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>예약하기</h1>
    </div>
    <div id="content" class="inner_pd">
        <form id="pdtBookingForm" name="" action="" method="" onsubmit="">
            <fieldset class="booking_form">
                <div class="input_wrap is_m">
                    <span class="input_box">
                        <label for="id" class="input_lb">예약상품 선택</label>
                        <input type="text" name="pdtNm" id="pdtNm" ng-model="bookingData.pdtNm" placeholder="상품 선택" class="input_comm">
                    </span>
                </div>
                <button type="button" class="btn btn_m btn_grey" ng-click="goToSchedule2Page();">예약상품 선택</button>
                <div class="input_wrap is_m">
                    <span class="input_box">
				<label for="id" class=" input_lb">예약시간 선택</label>
				<input type="text" ng-model="bookingDateStr" placeholder="2017.02.08 14:00 ~ 15:30" class="input_comm">
			</span>
                </div>
                <button type="button" class="btn btn_m btn_grey" ng-click="goToSchedule1Page();">예약시간 선택</button>
            </fieldset>
            <div class="cmt_box mgb_pd">
                <strong>예약내용이 확인되면 푸시알림이 발송됩니다.</strong>
                <em>(예약은 2주 뒤까지 가능합니다.)</em>
            </div>
            <fieldset>
                <select id="usableCouponList" class="sltbox" style="width: 70%; float: left; padding-right: 50px;"></select>
                <button type="button" class="btn btn_m btn_grey" style="float: right; height: 35px;" ng-click="goToCouponListPage();">쿠폰받기</button>
                <!--<div class="check_wrap">
                    <input type="checkbox" id="coup_chk" />
                    <label for="coup_chk">쿠폰사용</label>
                </div>-->
                <div id="paymentSelectRadio" class="radio_wrap radio2">
                    <!-- [요소 폭 조정] 라디오 버튼 2개 있는 곳은 .radio2, 세 개는  .radio3 -->
                    <span class="frList">
				        <span class="designRadio" ng-click="selectPaymentRadio(0);"><span class="radio checked"></span></span>
                    <input type="radio" name="paymentMethod" id="paymentMethod1" class="iRadio" />
                    <label class="iLabel" ng-click="selectPaymentRadio(0);">현장결제</label>
                    </span>
                    <span class="frList">
                        <span class="designRadio" ng-click="selectPaymentRadio(1);"><span class="radio"></span></span>
                    <input type="radio" name="paymentMethod" id="paymentMethod2" class="iRadio" />
                    <label class="iLabel" ng-click="selectPaymentRadio(1);">선결제 (선결제 할인)</label>
                    </span>
                </div>
            </fieldset>
            <div class="ft_fix_area">
                <button type="button" class="btn btn_salmon btn_xlg" ng-click="payment();">결제하기</button>
            </div>
        </form>
    </div>
    <!-- //content -->
</ion-view>