<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>결제하기</h1>
    </div>
    <h2 class="shop_t">제니스리치 강남역점</h2>
    <div id="content" class="inner_pd">
        <form id="" name="" action="" method="" onsubmit="">
            <h3 class="visuallyhidden">예약 정보</h3>
            <dl class="booking_info">
                <dt>예약시간:</dt>
                <dd>2017년 4월 15일 14:30 ~ 16:00</dd>
                <dt>예약상품:</dt>
                <dd>젤네일 기본<span>40,000원</span></dd>
                <dt>선결제 할인</dt>
                <dd><span>-1,000원</span></dd>
                <dt>쿠폰 할인</dt>
                <dd><span>-1,000원</span></dd>
            </dl>
            <div class="total_price">
                <strong>총 결제 금액</strong>
                <span><em>38,000</em>원</span>
            </div>
            <h3>결제수단을 선택하세요</h3>
            <div class="radio_wrap radio3">
                <span class="frList ">
				<span class="designRadio">
					<span class="radio"></span>
                </span>
                <input type="radio" name="payment" id="account" class="iRadio" />
                <label for="account" class="iLabel">무통장</label>
                </span>
                <span class="frList">
				<span class="designRadio">
					<span class="radio"></span>
                </span>
                <input type="radio" name="payment" id="card" class="iRadio" />
                <label for="card" class="iLabel">신용카드</label>
                </span>
                <span class="frList">
				<span class="designRadio">
					<span class="radio checked"></span>
                </span>
                <input type="radio" name="payment" id="pay" class="iRadio" />
                <label for="pay" class="iLabel">간편결제</label>
                </span>
            </div>
            <!-- //radio_wrap -->
            <div class="ft_fix_area">
                <button type="button" id="btnPaymentProc" class="btn btn_salmon btn_xlg">결제확인</button>
            </div>
        </form>
    </div>
    <!-- //content -->
</ion-view>