<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>쿠폰받기</h1>
    </div>
    <div id="content" style="padding-bottom: 0px;">
        <h2 class="shop_t center">{{shopDetail.SHOP_NM}}</h2>
    </div>
    <div style="position: relative; height: 100%;">
        <ion-content style="bottom: 106px;">
            <ul class="shop_list">
                <li ng-repeat="(key, couponInfo) in couponList " ng-if="couponList.length > 0">
                    <div ng-class="couponInfo.COUP_TP_CD != '001' ? 'cp_disc' : 'cp_free'">
                        <span class="coupon_thmb" ng-show="couponInfo.COUP_TP_CD != '001'">할인<br/>쿠폰</span>
                        <span class="coupon_thmb" ng-show="couponInfo.COUP_TP_CD == '001'">무료<br/>쿠폰</span>
                        <div class="cont_info" style="width: 55%;">
                            <span class="cp_title">{{couponInfo.COUP_BASE_NM}}</span>
                            <span class="cp_cmt">{{couponInfo.COUP_NM}}</span>
                        </div>
                        <span class="btn_down" ng-click="couponDownload({{couponInfo.SHOP_COUP_ID}});">받기</span>
                    </div>
                </li>
            </ul>
        </ion-content>
    </div>
</ion-view>