<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>예약상품 선택</h1>
    </div>
    <div style="position: relative; height: 100%; ">
        <ion-content>
            <ion-list>
                <ul class="slt_nail">
                    <li ng-repeat="(key, shopPdtInfo) in shopPdtList " ng-if="shopPdtList.length > 0" ng-click="selectedProduct({{shopPdtInfo.PDT_ID}}, '{{shopPdtInfo.PDT_NM}}', {{shopPdtInfo.ELAPSE_TM}});">
                        <div class="frList">
                            <span class="designRadio">
						        <span class="radio"></span>
                            </span>
                            <input type="radio" name="nail" class="iRadio" />
                            <label class="iLabel">
                                <span class="type" style="width: 50%;">{{shopPdtInfo.PDT_NM}}</span>
                                <span class="time" style="width: 25%;">{{shopPdtInfo.ELAPSE_TM | operationTime}}</span>
                                <span class="price" style="width: 25%;">{{shopPdtInfo.PDT_PRIC | number}}원</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </ion-list>
        </ion-content>
    </div>
</ion-view>