<ion-view>
    <div class="sub_title">
        <a ng-click="$ionicGoBack()" class="sprite ico_back">이전페이지로 가기</a>
        <h1>예약관리</h1>
    </div>
    <div class="schd_top_wrap">
        <select id="shopManagerSelect" class="sltbox">               
                    <option ng-repeat="manager in shopManagerList" ng-value="manager.MANAGER_ID">{{manager.USER_NM}}</option>
                </select>
        <div class="schd_top">
            <div class="schd_month">
                <span class="sprite m_prev">이전 달</span>
                <span class="year_month"></span>
                <span class="sprite m_next">다음 달</span>
            </div>
            <div class="schd_day">
                <div class="swiper-container gallery-thumbs"></div>
                <!-- //swiper-container -->
            </div>
            <!-- //schd_day -->
        </div>
        <!--// schd_top -->
    </div>
    <div style="position: relative; height: 100%;">
        <ion-content>
            <ion-list>
                <div id="schedule1Swiper" class="swiper-container gallery-top h100" style="padding-bottom: 240px;">
                    <div id="swiperContent" class="swiper-wrapper h100"></div>
                    <!--// swiper-wrapper -->
                </div>
                <!--// swiper-container -->
            </ion-list>
        </ion-content>
    </div>
    <!-- //content -->
    <div class="ft_fix_area2">
        <button class="btn btn_xlg btn_salmon" ng-click="saveSchedule();">확인</button>
    </div>
</ion-view>