@charset "utf-8";
label,
input,
button,
select,
textarea {
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
}

.location_info .current_loca {
    padding-left: 0px;
    font-size: 16px;
    text-align: center;
}

.hgt_xlg {
    height: 90% !important;
}

.hgt_lg {
    height: 70% !important;
}

.hgt_md {
    height: 50% !important;
}

.pop_size_md {
    height: 40% !important;
}

.btnListClose {
    position: absolute;
    left: 50%;
    bottom: 219px;
    width: 27px;
    height: 12px;
    z-index: 9999;
}

.shop_list .cont_info {
    width: 49%;
}

.shop_list .item-content {
    padding: 10px;
    display: block;
}

.shop_info dd:last-child {
    height: 300px;
}

.top_con_zone {
    padding-bottom: 0px;
}

.map_list .li_item {
    padding: 20px 15px;
    border-top: 1px solid #d7d7d7;
}

.map_list .li_item span:first-child {
    font-size: 16px;
    font-weight: 600;
}

.map_list .li_item span:last-child {
    display: block;
    color: #959595;
    font-size: 14px;
}

.map_list .li_item span:last-child em {
    margin-left: 5px;
    color: #fd6571;
}

.map_list .item-content {
    padding: 0px;
    display: block;
}

.main_wrap {
    overflow: hidden;
    height: 100%;
    background: url(../images/main_bg.jpg) no-repeat top left;
    background-size: 100% 100%;
}

.main_wrap #header {
    background: rgba(255, 255, 255, 0.5);
}

.pane,
.view {
    background-color: #ffffff;
}

.hidden {
    display: none;
}

#content-wrapper {
    overflow: auto;
    height: 100%;
    padding-bottom: 56px;
}

.inner_pd {
    position: relative;
    padding: 4%;
    overflow-y: auto;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: inherit;
}

.map_area .btn_loca {
    z-index: 9999;
}

.layer_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.layer_wrap .hgt_xlg {
    height: 550px;
}

.layer_wrap .hgt_sxlg {
    height: 400px;
}

.layer_wrap .hgt_lg {
    height: 300px;
}

.layer_wrap .hgt_md {
    height: 260px;
}

.layer_wrap .hgt_sm {
    height: 200px;
}

.layer_wrap .hgt_xsm {
    height: 150px;
}

.layer_wrap .hgt_230 {
    height: 230px;
}

.layer_wrap .hgt_350 {
    height: 350px;
}

.layer_wrap .pop_size_sm {
    height: 170px;
}

.layer_wrap .pop_nopd {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;
    width: 92%;
    /* 세로 정중앙 배치 때문에 높이값이 고정되어야 함 페이지마다 사이즈 체크 */
    background: #fff;
}

.layer_wrap .pop_nopd .pop_h {
    margin-bottom: 5px;
}

.layer_wrap .pop_nopd .sch_area {
    padding: 15px;
}

.layer_wrap .pop_nopd .sch_area select {
    float: left;
    width: 20%;
    border-right: none;
}

.layer_wrap .pop_nopd .sch_area input {
    float: left;
    width: 68%;
    height: 30px;
    padding: 5px;
    outline: 0;
    border: 1px solid #c2c2c2;
    border-right: none;
}

.layer_wrap .pop_nopd .sch_area .btn_search {
    overflow: hidden;
    width: 12%;
    height: 30px;
    background: #959595 url("../images/ico_sch.png") no-repeat center center;
    background-size: 33px 30px;
    text-indent: -1000px;
    white-space: nowrap;
}

.layer_wrap .pop_nopd .pop_t {
    position: relative;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #fd6571;
    font-size: 1.143em;
    font-weight: 600;
}

.layer_wrap .pop_nopd .pop_t span.btn_close {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 4%;
    width: 30px;
    height: 30px;
    background-position: -80px -30px;
}

.layer_wrap .pop_nopd .pop_cont {
    padding: 4%;
}

.layer_wrap .pop_posi {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;
    padding: 15px;
    width: 92%;
    /* 세로 정중앙 배치 때문에 높이값이 고정되어야 함 페이지마다 사이즈 체크 */
    background: #fff;
    text-align: center;
}

.layer_wrap .pop_posi p {
    padding-top: 30px;
}

.layer_wrap .pop_posi em {
    display: block;
    font-weight: 600;
}

.layer_wrap .pop_posi .pop_bg {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    background: #ffffff url("../images/pop_bg.png") no-repeat center center;
    background-size: 80px 80px;
}

.star0 {
    background-position: 0 -160px;
}