@charset "utf-8";
/*
    March 2017, pine8382@gmail.com
*/

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
* {
    margin:0;
    padding:0;
}
body {
   //line-height: 1;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul{
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

caption {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
}

button {
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

em {
    font-style: normal;
}