/* icon */

@import url("reset.css");
@charset "utf-8";
html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
}

*,
*:before,
*:after {
    /* Box Model */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

a,
a:link {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.sprite {
    overflow: hidden;
    background: url(../images/sprite.png) no-repeat;
    -webkit-background-size: 200px 240px;
    background-size: 200px 240px;
    text-indent: -1000px;
    white-space: nowrap;
}

.visuallyhidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.center {
    text-align: center;
}

.fr {
    float: right;
}

.h_comm {
    overflow: hidden;
    height: auto;
}

.border_top {
    border-top: 1px solid #c2c2c2;
}

.border_bottom {
    border-bottom: 1px solid #c2c2c2;
}

.border_left {
    border-left: 1px solid #c2c2c2;
}


/* icon */

.ico_pin,
.ico_focus {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto 5px;
}

.ico_pin {
    background-position: 0 -40px;
}

.ico_focus {
    background-position: -20px -40px;
}

.ico_check {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: -60px -40px;
}

.ico_check_pink {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: -70px -40px;
}

.ico_back {
    width: 30px;
    height: 30px;
    background-position: -120px -130px;
}

.ico_arr1 {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-top: 2px;
    margin-left: 5px;
    background-position: -110px -40px;
}

.ico_star {
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 10px;
    margin-top: 3px;
}

.star5 {
    background-position: 0 -120px;
}

.star4 {
    background-position: 0 -130px;
}

.star3 {
    background-position: 0 -140px;
}

.star2 {
    background-position: 0 -150px;
}

.star1 {
    background-position: 0 -160px;
}


/* side navigation */

.sidenav_wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -80%;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.1s;
}

.side_visual {
    overflow: hidden;
    width: 100%;
    height: 230px;
    padding-top: 50px;
    background: #fd6571;
    color: #fff;
    text-align: center;
}

.side_visual.type2 {
    padding-top: 80px;
}

.side_logo {
    display: block;
    overflow: hidden;
    width: 126px;
    height: 124px;
    margin: 0 auto 10px;
    background: #fd6571 url(../images/logo_binjari.png) no-repeat center center;
    background-size: 100% auto;
    text-indent: -1000px;
    white-space: nowrap;
}

.side_logo_sm {
    display: block;
    overflow: hidden;
    width: 37px;
    height: 37px;
    margin: 20px auto 0;
    background: #fd6571 url(../images/logo_binjari_sm.png) no-repeat center center;
    background-size: 100% auto;
    text-indent: -1000px;
    white-space: nowrap;
}

.hello_master {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

.hello_master em {
    font-weight: 600;
}

.side_btns {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #d7d7d7;
}

.side_btns li {
    float: left;
    display: inline-block;
    width: 33.3%;
    border-left: 1px solid #d7d7d7;
    text-align: center;
}

.side_btns li a {
    width: 100%;
    height: 85px;
    padding-top: 20px;
}

.side_btns li span {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    background: url(../images/ico_nav.png) no-repeat;
    background-size: 60px 20px;
}

.side_btns li .side_btn_01 {
    background-position: 0 0;
}

.side_btns li .side_btn_02 {
    background-position: -20px 0;
}

.side_btns li .side_btn_03 {
    background-position: -40px 0;
}

.side_btns li:first-child {
    border-left: none;
}


/* Layer */

.layer_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.layer_wrap .pop_posi.hgt_lg {
    height: 300px;
}

.layer_wrap .pop_posi {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;
    padding: 15px;
    width: 92%;
    height: 170px;
    background: #fff;
    text-align: center;
}

.layer_wrap .pop_posi p {
    padding-top: 30px;
}

.layer_wrap .pop_posi em {
    display: block;
    font-weight: 600;
}

.layer_wrap .pop_posi .booking_info {
    width: 90%;
    margin: 20px auto 10px;
}

.layer_wrap .pop_posi .booking_info dt {
    width: 30%;
}

.layer_wrap .pop_posi .booking_info dd {
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.layer_wrap .pop_posi .pop_t {
    position: relative;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
}

.layer_wrap .pop_posi .pop_t span {
    display: block;
    color: #959595;
}

.layer_wrap .pop_posi .pop_bg {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    background: #ffffff url(../images/pop_bg.png) no-repeat center center;
    background-size: 80px 80px;
}


/* button */

.ft_fix_area {
    /* 하단고정 */
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 92%;
    margin-left: -46%;
    margin-bottom: 10px;
    background: #fff;
    z-index: 99;
}

.ft_fix_area2 {
    /* 하단고정, 투명한 흰 배경 */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 4%;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #fd6571;
    z-index: 99;
}

.ft_fix_area3 {
    /* 하단고정, 투명한 흰 배경 */
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}

.btn_area {
    margin-top: 15px;
}

.btn {
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 0;
}

.btn_top {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-position: -80px -100px;
    z-index: 99;
}

.btn_pop {
    width: 30%;
    height: 35px;
    margin-top: 15px;
}

.btn_pop_lg {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.btn_sm {
    width: 23%;
    height: 25px;
}

.btn_m {
    width: 28%;
    height: 45px;
}

.btn_mm {
    width: 33%;
    height: 45px;
}

.btn_lg {
    width: 27%;
    height: 90px;
    line-height: 90px;
}

.btn_xlg {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.btn_sidelog {
    width: 100%;
    height: 70px;
    margin-top: 1px;
    font-size: 18px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}

.btn_lightgrey {
    background-color: #c2c2c2;
    color: #fff;
}

.btn_grey {
    background-color: #959595;
    color: #fff;
}

.btn_salmon {
    background-color: #fd6571;
    color: #fff;
}

.btn_view_all {
    float: right;
    position: absolute;
    top: 15px;
    right: 15px;
}

.btn_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-position: -110px 0;
}

.btn_close_w {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-position: -160px -130px;
}

.btn_x {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-position: -80px -30px;
}


/* header */

#header {
    width: 100%;
    height: 56px;
    background: #fb6570;
    line-height: 56px;
}

.ham,
.map {
    overflow: hidden;
    width: 15%;
    height: 56px;
    z-index: 99;
    padding-top: 10px;
    text-align: center;
}

.btn_ham,
.btn_map {
    display: inline-block;
    width: 35px;
    height: 35px;
}

.ham {
    float: left;
}

.ham .btn_ham {
    background-position: 0 0;
}

.map {
    float: right;
}

.map .btn_map {
    background-position: -40px 0;
}


/* main */

#main_wrap {
    overflow: hidden;
    height: 100%;
    background: url(../images/main_bg.jpg) no-repeat top left;
    background-size: 100% 100%;
}

#main_wrap #header {
    background: rgba(255, 255, 255, 0.5);
}

.main_bg {
    width: 100%;
    height: 100%;
    background: url(../images/main_con_bg.png) no-repeat top right;
    background-size: 140px auto;
}

.main_bg ul {
    width: 284px;
    margin: 0 auto;
    padding-top: 90px;
}

.main_bg ul li {
    margin-bottom: 25px;
}

.main_bg ul li a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    background: url(../images/mainBnr.png) no-repeat;
    background-size: 284px 320px;
    color: transparent;
    white-space: nowrap;
}

.main_bg .bnr_regular {
    background-position: 0 0;
}

.main_bg .bnr_nearby {
    background-position: 0 -80px;
}

.main_bg .bnr_recom {
    background-position: 0 -160px;
}

.main_bg .bnr_mynail {
    background-position: 0 -240px;
}

.loading {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.loading span,
.loading em {
    display: block;
    width: 100%;
    height: 150px;
}

.loading .loadsign {
    margin-top: 80px;
    height: 80px;
    background: url(../images/loading.png) no-repeat center center;
    background-size: 100% auto;
}

.loading .logo_binjari {
    height: 150px;
    background: url(../images/logo_binjari.png) no-repeat center center;
    background-size: 60% auto;
}

.loading .slogan {
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.loading .slogan em {
    margin-top: 15px;
    font-size: 20px;
    text-decoration: underline;
}


/* content */

h2.shop_t {
    height: 45px;
    padding-left: 15px;
    background: #f2f2f2;
    font-size: 18px;
    line-height: 45px;
}

#content {
    overflow: hidden;
    height: auto;
    position: relative;
    width: 100%;
    padding-bottom: 71px;
}

#content h2 {
    margin-bottom: 5px;
    font-size: 14px;
}

#content h2.shop_t {
    height: 45px;
    padding-left: 15px;
    background: #f2f2f2;
    font-size: 18px;
    line-height: 45px;
}

#content ul+h2 {
    margin-top: 20px;
}

#content h3 {
    font-size: 14px;
}

#content .title_area_p {
    /* 포트폴리오 리스트 상단 폰트 */
}

#content .title_area_p h1,
#content .title_area_p h2 {
    display: block;
    height: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

#content .title_area_p h2 {
    font-weight: 600;
}

.inner_pd {
    position: relative;
    padding: 4%;
}

.sub_top h1,
header h1 {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    width: 110px;
    background: url(../images/logo.png) no-repeat center center;
    background-size: 100% auto;
    text-indent: -100%;
    white-space: nowrap;
    z-index: 9;
}

.sub_top,
.sub_title {
    height: 56px;
    padding-left: 15px;
    line-height: 56px;
}

.sub_title+div,
.sub_title+form {
    margin-top: 56px;
}

.sub_title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #fd6571;
    background: #fff;
    z-index: 99;
}

.sub_title a,
.sub_title h1 {
    float: left;
}

.sub_title a {
    margin: 12px 5px 0 0;
}

.sub_title h1 {
    height: 56px;
    font-size: 1.286em;
    font-weight: 600;
    line-height: 56px;
}

.map_area {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    z-index: 9;
    background: #eee;
}

.map_area .btn_loca {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-position: -150px 0;
}


/* list*/

.location_info {
    overflow: hidden;
    height: auto;
}

.location_info span {
    float: left;
    height: 53px;
    border-bottom: 1px solid #c2c2c2;
}

.location_info .current_loca {
    width: 50%;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 53px;
}

.location_info .select_loca,
.location_info .my_loca {
    width: 25%;
    border-left: 1px solid #c2c2c2;
    padding: 8px 0;
    text-align: center;
}

.location_info .select_loca {
    color: #959595;
}

.tab,
.tab2 {
    overflow: hidden;
    height: auto;
    font-size: 16px;
    color: #959595;
    z-index: 99;
}

.tab span,
.tab2 span {
    float: left;
    display: inline-block;
    height: 46px;
    border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    -webkit-tap-highlight-color: transparent;
    line-height: 46px;
    text-align: center;
}

.tab span:first-child,
.tab2 span:first-child {
    border-left: none;
}

.tab span.on,
.tab2 span.on {
    border-bottom: 3px solid #fd6571;
    color: #fd6571;
}

.tab span {
    width: 33.3%;
    border-top: 1px solid #c2c2c2;
}

.tab.noline span {
    border-top: none;
}

.tab2 span {
    width: 50%;
}

.tab2 span.on a {
    color: #fd6571;
}

.tab_back {
    border-bottom: 1px solid #c2c2c2;
}

.tab_on {
    border-bottom: 3px solid #fd6571;
    color: #fd6571;
}

.cont_thmb {
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}

.cont_thmb .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    background: url(../images/mask.png) no-repeat;
}

.cont_thmb img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.shop_list.bdr_top {
    border-top: 1px solid #c2c2c2;
}

.shop_list li {
    position: relative;
    padding: 10px;
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #c2c2c2;
}

.shop_list .cont_thmb {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.shop_list .cont_thmb .mask {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
}

.shop_list .cp_disc,
.shop_list .cp_free {
    overflow: hidden;
    height: auto;
    padding: 5px 0;
}

.shop_list .cp_frlist {
    width: 10%;
    margin-top: 10px;
    float: right;
}

.shop_list .cp_disc .coupon_thmb {
    background: #b17edb;
}

.shop_list .cp_disc .cp_cmt {
    margin-top: 3px;
    color: #b17edb;
}

.shop_list .cp_free .coupon_thmb {
    background: #fb6570;
}

.shop_list .cp_free .cp_cmt {
    margin-top: 3px;
    color: #fb6570;
}

.shop_list .coupon_thmb {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    padding-top: 10px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
}

.shop_list .cp_title {
    font-size: 14px;
}

.shop_list .ico_new {
    display: inline-block;
    width: 27px;
    height: 10px;
    margin: 3px 0 0 3px;
    background: url(../images/ico_new.png) no-repeat;
    background-size: 27px 10px;
}

.shop_list .cont_info,
.shop_list .cont_info_wd {
    float: left;
    padding: 10px 0;
}

.shop_list .cont_info span,
.shop_list .cont_info_wd span {
    display: block;
}

.shop_list .cont_info .grade,
.shop_list .cont_info_wd .grade {
    margin-top: 6px;
    color: #faa61a;
}

.shop_list .cont_info .price,
.shop_list .cont_info_wd .price {
    width: 100%;
    padding: 5px 0 0 0;
    text-align: left;
}

.shop_list .cont_info .date,
.shop_list .cont_info_wd .date {
    width: 100%;
    margin-bottom: 5px;
    color: #fd6571;
}

.shop_list .cont_info {
    width: 50%;
}

.shop_list .cont_info_wd {
    width: 70%;
}

.shop_list .event_info {
    float: left;
    width: 60%;
    padding: 15px 0 0;
}

.shop_list .event_info span {
    display: block;
}

.shop_list .price {
    overflow: hidden;
    height: auto;
    width: 25%;
    padding: 30px 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #fd6571;
    text-align: right;
}

.shop_list .btn_down,
.shop_list .btn_book {
    float: right;
    display: inline-block;
    width: 20%;
    height: 40px;
    background: #c2c2c2;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.shop_list .btn_down {
    margin: 5px 10px 0 0;
}

.shop_list .btn_book {
    margin: 20px 10px 0 0;
}

.shop_list .btn_book.on {
    background: #fd6571;
}

.shop_list .event {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    background: url(../images/sprite.png) no-repeat center bottom;
    -webkit-background-size: 200px 240px;
    background-size: 200px 240px;
    background-position: -80px -140px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.ft_pink {
    display: block;
    width: 100%;
    font-weight: 600;
    color: #fd6571;
}

.fs_sm {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
}

.dl_border {
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 10px;
}


/* shop common */

.shop_name {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
}

.shop_loca {
    color: #959595;
}

.cmt_color,
.cmt_grey {
    letter-spacing: -0.2px;
}

.cmt_color {
    color: #fd6571;
}

.cmt_grey {
    font-size: fs_sm;
    color: #959595;
}


/* shop_view */

.size_sm {
    height: 190px;
}

.size_lg {
    height: 360px;
}

.shop_info_top {
    position: relative;
}

.title_area {
    position: relative;
    height: 70px;
    padding: 20px 15px 0;
    border-bottom: 1px solid #fd6571;
}

.title_area .shop_grade {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20%;
    float: right;
    text-align: center;
}

.title_area .shop_grade em {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #fd6571;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.title_area_p {
    overflow: hidden;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    z-index: 99;
}

.potf_list li {
    overflow: hidden;
    width: 49.5%;
    height: 170px;
    margin-top: 3px;
    background: #eeeeee url(../images/logo_binjari.png) no-repeat center center;
    background-size: 30% auto;
}

.potf_list li img {
    width: 100%;
    height: auto;
}

.potf_list li:nth-child(odd) {
    float: left;
}

.potf_list li:nth-child(even) {
    float: right;
}

.menu_box,
.event_box {
    border: 1px solid #c2c2c2;
    border-radius: 15px;
}

.menu_box {
    padding: 20px 30px;
}

.menu_box li {
    height: 20px;
    background: url(../images/dotted_line.png) repeat-x center center;
    background-size: 4px 2px;
    line-height: 20px;
}

.menu_box li span {
    padding: 0 5px;
    background: #fff;
}

.menu_box li .m_name {
    float: left;
}

.menu_box li .m_price {
    float: right;
}

.event_box {
    padding: 0 10px 10px 10px;
}

.event_box span {
    display: block;
}

.event_box li {
    background: url(../images/event_bg.png) no-repeat left center;
    background-size: 35px 35px;
    padding: 10px 10px 10px 45px;
    border-bottom: 1px solid #c2c2c2;
}

.event_box li:last-child {
    border-bottom: none;
}

.event_box .event_t em {
    font-weight: 600;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #000;
}

.event_box .exp {
    font-size: 12px;
    color: #fd6571;
}

.shop_info {
    overflow: hidden;
    height: auto;
}

.shop_info dt {
    clear: both;
    float: left;
    width: 25%;
    font-weight: 600;
}

.shop_info dd {
    margin-bottom: 15px;
    float: right;
    width: 75%;
    color: #959595;
}

.shop_info dd span {
    display: inline-block;
    border-radius: 10px;
    background: #c2c2c2;
    margin: 0 2px 2px 0;
    padding: 2px 15px;
    font-size: 12px;
    color: #fff;
}

.shop_info dt:last-child {
    width: 100%;
    margin-bottom: 5px;
}

.shop_info dd:last-child {
    float: left;
    margin-bottom: 0;
    width: 100%;
    height: 200px;
    background: #c2c2c2;
}

.top_fix_zone .sub_title {
    display: none;
}

.top_bar_fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}

.pd_top_80 {
    padding-top: 80px;
}

.top_con_zone {
    padding-bottom: 70px;
    -webkit-overflow-scrolling: touch;
}

.review_cmt {
    color: #fd6571;
    padding-bottom: 15px;
}

.review_list {
    margin-top: 15px;
    border-top: 1px solid #c2c2c2;
}

.review_list li {
    padding: 15px 0;
    border-bottom: 1px solid #c2c2c2;
}

.review_list li:last-child {
    border-bottom: none;
}

.review_list .rvw_t {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
}

.review_list .grade {
    margin-top: 6px;
    color: #faa61a;
}

.review_list .shop_date {
    color: #959595;
}

.review_list .shop_date em {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #c2c2c2;
}

.review_list .guest_review {
    margin: 10px 0;
}

.review_list .master_reply {
    padding-left: 20px;
    background: url(../images/sprite.png) no-repeat;
    -webkit-background-size: 200px 240px;
    background-size: 200px 240px;
    background-position: -180px -120px;
    color: #959595;
}

.btn_more {
    display: block;
    width: 80px;
    height: 20px;
    color: #fd6571;
}

.multi_ellipsis {
    /* multiline */
    display: block;
    display: -webkit-box;
    overflow: hidden;
    heitht: 48px;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    line-height: 16px;
}

.a_center {
    text-align: center;
}

.grade_star {
    display: block;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin: 0 auto 10px;
}

.grade_star li {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat;
    -webkit-background-size: 200px 240px;
    background-size: 200px 240px;
    background-position: -50px -140px;
}

.grade_star li.on {
    background-position: -50px -120px;
}

input,
textarea {
    outline: none;
    font-family: inherit;
}

.textarea_wrap {
    margin-top: 5px;
    border: 1px solid #dadada;
}

.textarea {
    width: 100%;
    padding: 15px;
    border: none;
    color: #959595;
}

.comm_pd {
    margin: 4% 0;
}

.comm_pd_top {
    margin-top: 15px;
}

.comm_pd_bottom {
    margin-bottom: 15px;
}

.ico_back2,
.ico_fvr {
    width: 35px;
    height: 35px;
}

.ico_back2 {
    background-position: -40px -60px;
}

.ico_fvr {
    background-position: -80px -60px;
}

.tb_posi_l {
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 99;
}

.tb_posi_r {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 99;
}

.shopimg_area {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #eeeeee url(../images/logo_binjari.png) no-repeat center center;
    background-size: 30% auto;
    z-index: 9;
}

.shopimg_area img {
    width: 100%;
    height: auto;
}

.port_thumb {
    width: 100%;
}

.port_thumb li {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 32%;
    height: 108px;
    margin-right: 2%;
    background: #eeeeee url(../images/logo_binjari.png) no-repeat center center;
    background-size: 30% auto;
}

.port_thumb li:last-child {
    margin-right: 0;
}

.port_thumb img {
    width: 100%;
    height: auto;
}

.port_detail_wrap {
    padding: 0 15px;
}

.port_detail_wrap .port_title {
    overflow: hidden;
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 0;
}

.port_detail_wrap .port_title .cont_title {
    float: left;
    padding: 10px 0;
}

.port_detail_wrap .port_title .cont_title h1 {
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.port_detail_wrap .port_title .cont_title span {
    color: #959595;
}

.port_detail_wrap .port_detail_cont {
    padding: 15px 15px 15px 60px;
}

.port_detail_wrap .port_detail_cont span {
    margin-right: 5px;
    font-size: 16px;
    color: #464646;
}

.port_detail_wrap .port_detail_cont p {
    margin-top: 5px;
    color: #959595;
}

.port_detail_wrap .cont_thmb {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.port_detail_wrap .cont_thmb .mask {
    width: 50px;
    height: 50px;
    background-size: 50px auto;
}

.map_list {
    width: 100%;
}

.map_list li {
    padding: 20px 15px;
    border-top: 1px solid #d7d7d7;
}

.map_list li span:first-child {
    font-size: 16px;
    font-weight: 600;
}

.map_list li span:last-child {
    display: block;
    color: #959595;
}

.map_list li span:last-child em {
    margin-left: 5px;
    color: #fd6571;
}


/* slide */

.swiper-container {
    width: 100%;
    height: 148px;
    -webkit-tap-highlight-color: transparent;
}

.swiper-container.h100 {
    height: 100% !important;
}

.swiper-wrapper {
    width: 100%;
    height: 148px;
}

.swiper-wrapper.h100 {
    height: 100% !important;
}

.swiper-slide {
    width: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    ustify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper_inner_pd {
    position: relative;
    width: 100%;
    padding: 4% 4% 0 4%;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.gallery-thumbs {
    height: 42px;
}

.gallery-thumbs .swiper-slide {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid #c2c2c2;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: 600;
    color: #959595;
    text-align: center;
}

.gallery-thumbs .swiper-slide-active {
    color: #fff !important;
    background: #fd6571;
    border: 1px solid #fd6571;
}

.swiper-slide {
    position: relative;
    background-size: cover;
    background-position: center;
}


/* booking*/

.account_num {
    width: 100%;
    height: 40px;
    text-align: center;
    font-weight: 600;
}

.account_num em {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #959595;
}

.cmt_box,
.cmt_box_noline {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 15px;
    height: auto;
    text-align: center;
}

.cmt_box em,
.cmt_box_noline em {
    display: block;
}

.cmt_box {
    border: 4px solid #ebebeb;
    margin: 10px 0 0 !important;
}

.cmt_box em {
    color: #fd6571;
}

.mgb_pd {
    margin-bottom: 15px !important;
}

.cmt_box_noline2 {
    margin-bottom: 20px;
    text-align: center;
}

.f_udrline {
    display: inline-block;
    width: 70%;
    height: 45px;
    padding-left: 11px;
    border-bottom: 1px solid #c2c2c2;
    line-height: 45px;
}

.f_udrline em {
    margin-left: 20px;
    color: #fd6571;
}

.booking_info,
.booking_info2 {
    text-align: left;
}

.booking_info dt,
.booking_info2 dt,
.booking_info dd,
.booking_info2 dd {
    margin-bottom: 5px;
}

.booking_info dt,
.booking_info2 dt {
    clear: both;
    float: left;
    width: 25%;
    font-weight: 600;
}

.booking_info dd,
.booking_info2 dd {
    float: right;
    width: 75%;
    color: #959595;
}

.booking_info dd span,
.booking_info2 dd span {
    float: right;
    color: #000;
}

.booking_info dd.ft_coupon,
.booking_info2 dd.ft_coupon {
    width: 100%;
    font-weight: 600;
    color: #fd6571;
}

.mgt_15 {
    margin-top: 15px !important;
}

.booking_info {
    display: block;
    overflow: hidden;
    height: auto;
}

.booking_info2 {
    display: block;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    padding: 15px 30px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

.add_fvr,
.write_review {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px auto;
}

.add_fvr {
    background-position: -120px -60px;
}

.write_review {
    background-position: 0 -180px;
}

.total_price {
    margin: 15px 0 42px;
    padding: 20px 0 25px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    text-align: center;
}

.total_price span {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fd6571;
}

.total_price span em {
    font-size: 30px;
    font-weight: 600;
}


/* schedule */

.sltbox {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 5px;
    background: url(../images/sbox_btn.gif) no-repeat right center;
    background-size: 35px 35px;
    border: 1px solid #c2c2c2;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 14px;
}

.schd_top_wrap {
    padding: 4% 4% 0;
}

.schd_top {
    overflow: hidden;
    height: auto;
    margin-bottom: 5px;
}

.m_prev,
.m_next {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.m_prev {
    background-position: -130px -40px;
}

.m_next {
    background-position: -150px -40px;
}

.year_month {
    height: 20px;
    line-height: 20px;
}

.schd_month {
    float: left;
    padding-top: 10px;
    width: 33%;
}

.schd_day {
    float: right;
    overflow: hidden;
    width: 67%;
    height: 42px;
    text-align: right;
}

.schd_lst_wrap {
    clear: both;
    position: relative;
    border-left: 1px solid #eaeaea;
    z-index: 9;
}

.schd_lst_wrap .scheduled {
    position: absolute;
    left: 25%;
    width: 75%;
    padding: 5px 10px;
    margin: 2px 0px;
    background: #fd6571;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    z-index: 99;
}

.schd_lst_wrap .scheduled em {
    display: block;
}

.schd_lst_wrap .scheduled:before {
    /* 말풍선 */
    border-top: 3px solid transparent;
    border-left: 0 solid transparent;
    border-right: 6px solid #fd6571;
    border-bottom: 3px solid transparent;
    content: "";
    position: absolute;
    left: -6px;
    top: 7px;
}

.schd_lst_wrap .am0_00 {
    top: 0px;
}

.schd_lst_wrap .am0_30 {
    top: 20px;
}

.schd_lst_wrap .am1_00 {
    top: 40px;
}

.schd_lst_wrap .am1_30 {
    top: 60px;
}

.schd_lst_wrap .am2_00 {
    top: 80px;
}

.schd_lst_wrap .am2_30 {
    top: 100px;
}

.schd_lst_wrap .am3_00 {
    top: 120px;
}

.schd_lst_wrap .am3_30 {
    top: 140px;
}

.schd_lst_wrap .am4_00 {
    top: 160px;
}

.schd_lst_wrap .am4_30 {
    top: 180px;
}

.schd_lst_wrap .am5_00 {
    top: 200px;
}

.schd_lst_wrap .am5_30 {
    top: 220px;
}

.schd_lst_wrap .am6_00 {
    top: 240px;
}

.schd_lst_wrap .am6_30 {
    top: 260px;
}

.schd_lst_wrap .am7_00 {
    top: 280px;
}

.schd_lst_wrap .am7_30 {
    top: 300px;
}

.schd_lst_wrap .am8_00 {
    top: 320px;
}

.schd_lst_wrap .am8_30 {
    top: 340px;
}

.schd_lst_wrap .am9_00 {
    top: 360px;
}

.schd_lst_wrap .am9_30 {
    top: 380px;
}

.schd_lst_wrap .am10_00 {
    top: 400px;
}

.schd_lst_wrap .am10_30 {
    top: 420px;
}

.schd_lst_wrap .am11_00 {
    top: 440px;
}

.schd_lst_wrap .am11_30 {
    top: 460px;
}

.schd_lst_wrap .pm12_00 {
    top: 480px;
}

.schd_lst_wrap .pm12_30 {
    top: 500px;
}

.schd_lst_wrap .pm1_00 {
    top: 520px;
}

.schd_lst_wrap .pm1_30 {
    top: 540px;
}

.schd_lst_wrap .pm2_00 {
    top: 560px;
}

.schd_lst_wrap .pm2_30 {
    top: 580px;
}

.schd_lst_wrap .pm3_00 {
    top: 600px;
}

.schd_lst_wrap .pm3_30 {
    top: 620px;
}

.schd_lst_wrap .pm4_00 {
    top: 640px;
}

.schd_lst_wrap .pm4_30 {
    top: 660px;
}

.schd_lst_wrap .pm5_00 {
    top: 680px;
}

.schd_lst_wrap .pm5_30 {
    top: 700px;
}

.schd_lst_wrap .pm6_00 {
    top: 720px;
}

.schd_lst_wrap .pm6_30 {
    top: 740px;
}

.schd_lst_wrap .pm7_00 {
    top: 760px;
}

.schd_lst_wrap .pm7_30 {
    top: 780px;
}

.schd_lst_wrap .pm8_00 {
    top: 800px;
}

.schd_lst_wrap .pm8_30 {
    top: 820px;
}

.schd_lst_wrap .pm9_00 {
    top: 840px;
}

.schd_lst_wrap .pm9_30 {
    top: 860px;
}

.schd_lst_wrap .pm10_00 {
    top: 880px;
}

.schd_lst_wrap .pm10_30 {
    top: 900px;
}

.schd_lst_wrap .pm11_00 {
    top: 920px;
}

.schd_lst_wrap .pm11_30 {
    top: 940px;
}

.schd_lst_wrap .minute30 {
    height: 16px;
}

.schd_lst_wrap .minute60 {
    height: 37px;
}

.schd_lst_wrap .minute90 {
    height: 57px;
}

.schd_lst_wrap .minute120 {
    height: 77px;
}

.schd_lst_wrap .minute150 {
    height: 97px;
}

.schd_lst_wrap .minute180 {
    height: 121px;
}

.schd_lst_bg li {
    position: relative;
    height: 40px;
    background: url(../images/schd_bg.png) repeat-x;
    background-size: 6px 40px;
}

.schd_lst_bg li .half {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 20px;
    z-index: 99;
}

.schd_lst_bg li div:first-child {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 20px;
    z-index: 99;
}

.schd_lst_bg li div:last-child {
    position: absolute;
    top: 20px;
    display: block;
    width: 100%;
    height: 20px;
    z-index: 99;
}

.schd_lst_bg li i {
    position: absolute;
    top: 17px;
    left: -2px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #c2c2c2;
}

.schd_lst_bg li i.on {
    background: #fd6571;
}

.schd_lst_bg li span {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 25%;
    height: 40px;
    background: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    z-index: 98;
}

.cp_radio_wrap {
    float: right;
    width: 10%;
    height: 40px;
}

.slt_nail {
    display: block;
    overflow: hidden;
    width: 92%;
    margin: 0 auto;
    height: auto;
    font-size: 12px;
    letter-spacing: -0.2px;
}

.slt_nail li {
    height: 40px;
    padding: 3px 0;
    border-bottom: 1px solid #d7d7d7;
}

.slt_nail .frList {
    width: 100%;
    height: 40px;
}

.slt_nail .frList label {
    width: 90%;
    -webkit-tap-highlight-color: transparent;
}

.slt_nail .frList .type {
    float: left;
    width: 60%;
}

.slt_nail .frList .time {
    float: left;
    width: 20%;
    color: #959595;
}

.slt_nail .frList .price {
    float: right;
    width: 20%;
    text-align: right;
}

.slt_nail .frList.checked {
    color: #fd6571;
}

.slt_nail .frList.checked .time {
    color: #fd6571;
}

.loca_list {
    width: 100%;
}

.loca_list li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
}

.loca_list li i {
    vertical-align: middle;
    margin-right: 5px;
}

.loca_list li.on {
    color: #fd6571;
}


/* login */

.ft_menu,
.ft_btn_area {
    position: fixed;
    width: 100%;
    padding: 0 15px;
}

.ft_menu {
    border-top: 1px solid #fd6571;
    bottom: 0;
    z-index: 99;
    background: #fff;
}

.ft_menu ul {
    width: 100%;
    height: 56px;
}

.ft_menu ul li {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
}

.ft_menu ul a {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 7px;
    padding-top: 25px;
}

.ft_menu ul .fm_home {
    background: url(../images/home.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_home.on {
    background: url(../images/home_on.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_around {
    background: url(../images/around.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_around.on {
    background: url(../images/around_on.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_favorite {
    background: url(../images/favorite.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_favorite.on {
    background: url(../images/favorite_on.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_mynail {
    background: url(../images/my.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_menu ul .fm_mynail.on {
    background: url(../images/my_on.png) no-repeat top center;
    background-size: 21px auto;
}

.ft_btn_area {
    bottom: 15px;
}

.btn_login {
    float: right;
}

.login_visual {
    overflow: hidden;
    width: 100%;
    height: 230px;
    background: #fd6571 url(../images/logo_binjari.png) no-repeat center center;
    background-size: 126px auto;
    text-indent: -1000px;
    white-space: nowrap;
}


/* join */

.slt_area {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    z-index: 99;
    background: #f2f2f2;
    line-height: 50px;
}

.slt_area span {
    float: right;
}

.text_area {
    margin-top: 80px;
    font-size: 12px;
}

.text_area h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.agree_area {
    margin-top: 15px;
}

.agreement li {
    height: 30px;
    margin-bottom: 5px;
    line-height: 30px;
}

.agreement li a {
    color: #959595;
    text-decoration: underline;
}

.agreement li span {
    float: right;
    display: inline-block;
    line-height: 25px;
}


/* input */

input {
    box-sizing: border-box;
    display: block;
    box-shadow: none;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    font-size: 12px;
}

input:focus::-webkit-input-placeholder {
    /* chrome */
    color: transparent;
}

input:focus::-moz-placeholder {
    /* firefox */
    color: transparent;
}

.gr_left {
    float: left;
    width: 70%;
}

.gr_left .input_wrap {
    /* 로그인창 인풋박스 사이 여백 0 */
    margin-bottom: 0;
}

.gr_left .input_wrap+.input_wrap {
    border-top: none;
}


/* 인풋창, 버튼 정렬 */

.input_comm {
    width: 100%;
}

.input_wrap {
    margin-bottom: 5px;
    float: left;
}

.input_wrap+button {
    float: right;
}

button+div {
    clear: both;
}

.input_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 45px;
    padding: 5px 11px;
    border: solid 1px #dadada;
    background: #fff;
}

.input_box {
    display: block;
    overflow: hidden;
}

.input_lb {
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    z-index: 8;
    top: 5px;
    left: 11px;
    color: #999;
}

.input_comm {
    font-size: 14px;
    line-height: 35px;
    position: relative;
    z-index: 9;
    height: 35px;
    padding: 7px 0 6px;
    border: none;
    background: #fff;
}

input.input_comm {
    color: #000;
}

.is_m {
    /* input size */
    width: 70%;
}

.check_wrap {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    height: auto;
    color: #fd6571;
}

.check_wrap label {
    height: 25px;
    line-height: 25px;
}

.check_wrap input[type="checkbox"] {
    /* 체크박스 감추기 */
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.check_wrap input[type="checkbox"]+label {
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.check_wrap label:after {
    /* 가짜 체크박스 */
    float: left;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.check_wrap input[type="checkbox"]+label:active:after,
.check_wrap input[type="checkbox"]:checked+label:active:after {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.check_wrap input[type="checkbox"]:checked+label:after {
    /* 체크박스를 체크했을때 */
    content: '';
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    background: url(../images/ico_chk.png) no-repeat center center;
    background-size: 60% auto;
}

.radio_wrap {
    width: 100%;
    margin: 20px 0;
}

.radio_wrap.radio2 .frList {
    width: 50%;
}

.radio_wrap.radio3 .frList {
    width: 33%;
}

.frList {
    float: left;
    position: relative;
    height: 45px;
    line-height: 45px;
}

.frList label {
    position: absolute;
    left: 33px;
    top: -5px;
    visibility: visible;
    cursor: pointer;
}

.frList .iRadio {
    visibility: hidden;
    height: 22px;
    line-height: 0;
}

.frList .designRadio {
    position: absolute;
    left: 0;
    top: 4px;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.frList .designRadio .radio {
    display: block;
    width: 25px;
    height: 25px;
    background: url('../images/radio_bg.png') no-repeat;
    background-size: 25px 50px;
    background-position: 0 0;
}

.frList .designRadio .checked {
    background-position: 0 -25px;
}

.lg_cmt {
    color: #959595;
}

.lg_cmt span {
    display: block;
    text-align: right;
}

.lg_cmt span a {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    text-decoration: underline;
    color: inherit;
}

@media all and (max-width: 320px) {
    body {
        font-size: 12px;
    }
    #content h2 {
        margin-bottom: 10px;
    }
    .swiper-container {
        width: 100%;
        height: 130px;
    }
    .swiper-wrapper {
        width: 100%;
        height: 130px;
    }
    .agreement li {
        margin-bottom: 0;
    }
    .shop_list li {
        padding: 0 10px;
    }
    .shop_list .cont_thmb {
        width: 70px;
        height: 70px;
        margin-right: 5px;
    }
    .shop_list .cont_thmb .mask {
        width: 70px;
        height: 70px;
        background-size: 70px auto;
    }
    .shop_list .cont_info {
        padding: 10px 0 5px;
    }
    .shop_info_top {
        height: 170px;
    }
    .potf_list li {
        height: 150px;
    }
    .port_detail_wrap .port_title {
        padding: 5px 0 0;
    }
    .size_sm {
        height: 170px;
    }
    .size_lg {
        height: 320px;
    }
    .port_thumb li {
        height: 85px;
    }
    .grade_star {
        height: 25px;
        line-height: 25px;
        margin: 0 auto;
    }
    #content h2.a_center {
        margin-bottom: 0;
    }
    .title_area_p {
        top: 100px;
        height: 70px;
    }
    .title_area_p h1,
    .title_area_p h2 {
        height: 20px;
        line-height: 20px;
    }
    .schd_month {
        padding-top: 5px;
        width: 35%;
    }
    .schd_day {
        width: 65%;
        height: 34px;
    }
    .schd_day .swiper-slide {
        width: 34px;
        height: 34px;
        padding-top: 8px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
    }
    .dl_border {
        padding: 10px;
    }
}